@import "../../global.scss";

.head {
  height: 60px;
  border-bottom: 1px solid #fff;
  border-radius: 15px 15px 0 0;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  & p {
    font-family: $fontNunito;
    font-size: clamp(16px, 2.5vw, 20px) ;
    color: #fff;
    font-weight: 600;
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.codeEditor {
  border-radius: 0 0 15px 15px;
}

.main {
  border-radius: 15px;
  overflow: hidden;
  @include flexDirec(0px);
  width: 700px;

  @media (max-width: 1500px) {
    width: calc(100vw - 160px);
  }

  @media (max-width: 630px) {
    width: calc(100vw - 40px);
  }
}
