@import "../../global.scss";

.taskName {
  font-family: $fontGlegoo;
  font-size: 24px;
  color: #000;
}

.desc {
  font-family: $fontNunito;
  font-size: 20px;
  line-height: 150%;
}

.codeBlock {
  font-family: $fontNunito;
  font-size: 20px;
  line-height: 150%;
  @include flexDirec(10px);
}

.main {
  @include flexDirec(25px);
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;

  @media (max-width: 1500px) {
    max-width: none; /* Растягиваем на всю ширину экрана */
  }
}

