@import "../../global.scss";

.head {
  height: 60px;
  border-bottom: 1px solid #fff;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  & p {
    font-family: $fontNunito;
    font-size: clamp(16px, 2.5vw, 20px);
    color: #fff;
    font-weight: 600;
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.codeEditor {
  border-radius: 0 0 15px 15px;
}

.main {
  overflow: hidden;
  @include flexDirec(0px);
}

.dialog {
  margin: auto; /* Центрирует диалог по умолчанию */
  border: none;
  padding: 0;
  width: 80vw; /* Задайте ширину модалки */
  height: 80vh; /* Задайте высоту модалки */
  border-radius: 15px;
  background-color: #282c34;

  &::backdrop {
    background: rgba(0, 0, 0, 0.7); /* Затемнение фона */
  }
}

.dialogWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
