@import "../../global.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  height: 85px;
  background-color: black;
  color: white;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: $fontNunito;
  }

  h1 {
    font-size: clamp(20px, 2.5vw, 32px);
  }

  @media (max-width: 600px) {
    padding: 0 2em;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  @media (max-width: 600px) {
    display: none;
  }
}

.logo {
  height: clamp(20px, 2.5vw, 30px);
}


.btnsWrap{
  position: relative;
}

.runBtn {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontNunito;
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 20px);
  color: #fff;
  background: #FE5F55;
  cursor: pointer;
  border: none;

  &:hover {
    background: #ed4e43;
  }
}