@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap");

$fontNunito: "Nunito", sans-serif !default;
$fontGlegoo: "Glegoo", serif !default;

@mixin flexDirec($g) {
  display: flex;
  flex-direction: column;
  gap: $g;
}
