:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {

  text-decoration: inherit;
}


body {
  padding-bottom: 50px;
}

h1 {}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}